# Pandas: Inspecteren & basishandelingen
- Voer onderstaande cel uit om het sales dataframe aan te maken.

In [1]:
import pandas as pd
sales = pd.read_csv('sales data-set.csv')

## 1 Inspecteren 
- Toon de eerste 5 rijen van sales.

In [2]:
display(sales.head(n=5))

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

- Verander de 'Date' kolom in de internationale standaard voor datum en tijd. 
- Toon de eerste 5 rijen opnieuw.

In [3]:
sales["Date"] = pd.to_datetime(sales["Date"], dayfirst = True)
display(sales.head())

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False

- Toon informatie over het datatype van iedere kolom.
- Zijn er kolommen die 'lege-waardes' bevatten?

In [4]:
display(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 13.3 MB

None

- Toon het aantal rijen en kolommen.

In [5]:
display(sales.shape)

(421570, 5)

- Toon een overzicht waarin de basisstatistieken van het dataframe worden getoond.
- Wat valt je op aan het minimum van 'Weekly_Sales'? Hoe kan dit zijn ontstaan?
- Wat is de hoogste omzet volgens dit overzicht?
- Leg aan de hand van dit overzicht uit wat 25%, 50% en 75% betekenen.

In [6]:
display(sales.describe())

# To interpret the min, 25%, 50%, 75% and max values, imagine sorting each column from 
# lowest to highest value. The first (smallest) value is the min. If you go a quarter way 
# through the list, you'll find a number that is bigger than 25% of the values and smaller 
# than 75% of the values. That is the 25% value (pronounced "25th percentile"). 
# The 50th and 75th percentiles are defined analogously, and the max is the largest number.

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

In [7]:
# import seaborn as sns
# sns.boxplot(x=sales["Weekly_Sales], showfliers=False)

## 2 Componenten van een dataframe
- Print een Numpy array met daarin de eerste 20 rijen van het dataframe.

In [8]:
display(sales.values[:20])

array([[1, 1, Timestamp('2010-02-05 00:00:00'), 24924.5, False],
       [1, 1, Timestamp('2010-02-12 00:00:00'), 46039.49, True],
       [1, 1, Timestamp('2010-02-19 00:00:00'), 41595.55, False],
       [1, 1, Timestamp('2010-02-26 00:00:00'), 19403.54, False],
       [1, 1, Timestamp('2010-03-05 00:00:00'), 21827.9, False],
       [1, 1, Timestamp('2010-03-12 00:00:00'), 21043.39, False],
       [1, 1, Timestamp('2010-03-19 00:00:00'), 22136.64, False],
       [1, 1, Timestamp('2010-03-26 00:00:00'), 26229.21, False],
       [1, 1, Timestamp('2010-04-02 00:00:00'), 57258.43, False],
       [1, 1, Timestamp('2010-04-09 00:00:00'), 42960.91, False],
       [1, 1, Timestamp('2010-04-16 00:00:00'), 17596.96, False],
       [1, 1, Timestamp('2010-04-23 00:00:00'), 16145.35, False],
       [1, 1, Timestamp('2010-04-30 00:00:00'), 16555.11, False],
       [1, 1, Timestamp('2010-05-07 00:00:00'), 17413.94, False],
       [1, 1, Timestamp('2010-05-14 00:00:00'), 18926.74, False],
       [1, 1, Timestamp('2010-05-21 00:00:00'), 14773.04, False],
       [1, 1, Timestamp('2010-05-28 00:00:00'), 15580.43, False],
       [1, 1, Timestamp('2010-06-04 00:00:00'), 17558.09, False],
       [1, 1, Timestamp('2010-06-11 00:00:00'), 16637.62, False],
       [1, 1, Timestamp('2010-06-18 00:00:00'), 16216.27, False]],
      dtype=object)

- Print de kolomnamen van sales.

In [9]:
display(sales.columns)

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object')

- Print de index van sales.

In [10]:
display(sales.index)
display(sales.index[:100])

RangeIndex(start=0, stop=421570, step=1)

RangeIndex(start=0, stop=100, step=1)

## 3 Sorteren
- Sorteer sales op datum in oplopende volgorde en sla dit op als het dataframe sales_date.
- print de eerste 10 rijen van sales_date.

In [19]:
sales_date = sales.sort_values(by = "Date")
display(sales_date.head(10))

        Store  Dept       Date  Weekly_Sales  IsHoliday  Year
0           1     1 2010-02-05      24924.50      False  2010
277665     29     5 2010-02-05      15552.08      False  2010
277808     29     6 2010-02-05       3200.22      False  2010
277951     29     7 2010-02-05      10820.05      False  2010
278094     29     8 2010-02-05      20055.64      False  2010
16451       2    49 2010-02-05      15767.00      False  2010
278237     29     9 2010-02-05       4419.73      False  2010
278380     29    10 2010-02-05       7550.67      False  2010
278523     29    11 2010-02-05       6964.21      False  2010
278666     29    12 2010-02-05       2293.66      False  2010

## 4 Selecteren van kolommen
- Maak een nieuw dataframe sales_holiday waarin alleen deze kolommen staan: Date en IsHoliday.
- Toon de eerste 5 rijen.

In [12]:
sales_holiday = sales[["Date", "IsHoliday"]] # en lijst van colomun makt
display(sales_holiday.head())

        Date  IsHoliday
0 2010-02-05      False
1 2010-02-12       True
2 2010-02-19      False
3 2010-02-26      False
4 2010-03-05      False

## 5 Selecteren op datum
- Toon een nieuw dataframe sales_holiday_2011 dat alleen regels uit 2011 bevat.

In [13]:
sales_holiday_2011 = sales_holiday[(sales_holiday["Date"] >= "2011-01-01") & 
                                   (sales_holiday["Date"] <= "2011-12-31")] # logical and
display(sales_holiday_2011.head())

         Date  IsHoliday
48 2011-01-07      False
49 2011-01-14      False
50 2011-01-21      False
51 2011-01-28      False
52 2011-02-04      False

## 6 Selecteren op meerdere criteria
- Toon een nieuw dataframe holiday_2011_q4 waarin alleen de verkopen van het vierde kwartaal van 2011 staan die plaats vonden tijdens een vakantie (IsHoliday)

In [14]:
holiday_2011_q4 = sales_holiday_2011[(sales_holiday_2011["IsHoliday"] == True) & 
                                     (sales_holiday_2011["Date"] >= "2011-10-01") &
                                     (sales_holiday_2011["Date"] <= "2011-12-31")]
display(holiday_2011_q4.head())

#sh2=sales_holiday[sales_holiday["Date"].dt_year==2011]

          Date  IsHoliday
94  2011-11-25       True
99  2011-12-30       True
237 2011-11-25       True
242 2011-12-30       True
380 2011-11-25       True

## 7 Selecteren met categoriale variabelen.
- Maak de list st1_5 met daarin de getallen 1 tot en met 5.
- Toon een nieuw dataframe sales_1_5 waarin alleen de rijen uit sales van de winkels (Store) 1 tot en met 5 worden getoond. Gebruik hierbij st1_5.

In [15]:
st1_5 = [1,2,3,4,5] #st1_5=list(range(1,6))
sales_1_5 = sales[sales["Store"].isin(st1_5)]
display(sales_1_5.head())

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False

## 8 Nieuwe kolom maken
- De dataframe method .dt kan worden gebruikt om het jaar van een datum te bepalen. Zoek op het internet om uit te vinden hoe dit werkt. 
- Maak de nieuwe kolom 'Year' in sales waarin het jaar wordt getoond.

In [16]:
sales["Year"] = sales["Date"].dt.year
display(sales.head())

   Store  Dept       Date  Weekly_Sales  IsHoliday  Year
0      1     1 2010-02-05      24924.50      False  2010
1      1     1 2010-02-12      46039.49       True  2010
2      1     1 2010-02-19      41595.55      False  2010
3      1     1 2010-02-26      19403.54      False  2010
4      1     1 2010-03-05      21827.90      False  2010

## 9 Integratie.
- Maak het nieuwe dataframe sales_75. Dit dataframe bevat alleen de rijen die voldoen aan de volgende voorwaarden:
    - De omzet (Weekly_Sales) zit in het 75e percentiel.
    - De verkopen vonden plaats tijdens een vakantieweek (IsHoliday) in 2010.
- Sorteer de rijen op omzet (Weekly_Sales) in aflopende volgorde.

In [17]:
sales_75 = sales[(sales["Weekly_Sales"] >= 20205.852500) & 
                 (sales["Year"] == 2010) & 
                 (sales["IsHoliday"] == True)].sort_values("Weekly_Sales", ascending = False)
    
display(sales_75.head(20))

        Store  Dept       Date  Weekly_Sales  IsHoliday  Year
95373      10    72 2010-11-26     693099.36       True  2010
337961     35    72 2010-11-26     627962.93       True  2010
135665     14    72 2010-11-26     474330.10       True  2010
195088     20    72 2010-11-26     422306.25       True  2010
264390     27    72 2010-11-26     420586.57       True  2010
214432     22    72 2010-11-26     393705.20       True  2010
37201       4    72 2010-11-26     381072.11       True  2010
224411     23    72 2010-11-26     369830.98       True  2010
115222     12    72 2010-11-26     359995.60       True  2010
274509     28    72 2010-11-26     355356.39       True  2010
174813     18    72 2010-11-26     353008.64       True  2010
56417       6    72 2010-11-26     342578.65       True  2010
184745     19    72 2010-11-26     339846.03       True  2010
368375     39    72 2010-11-26     339700.62       True  2010
145536     15    72 2010-11-26     292555.25       True  2010
388475     41    72 2010-11-26     290809.17       True  2010
17896       2    72 2010-11-26     285353.53       True  2010
125496     13    72 2010-11-26     266916.79       True  2010
284227     29    72 2010-11-26     266480.63       True  2010
301242     31    72 2010-11-26     261022.50       True  2010