# Iterators
- Voer onderstaande cel uit om de fl_sp list aan te maken.

In [1]:
fl_sp = [['swinton', 18526], ['stamford', 18569], ['skipton', 12288], ['stratton', 17092], ['shepperton', 11307]]

## 13.1 For loop
- Print de 5 lists in de fl_sp list met een for loop.

In [2]:
for lists in fl_sp:
    print(lists)

['swinton', 18526]
['stamford', 18569]
['skipton', 12288]
['stratton', 17092]
['shepperton', 11307]

## 13.2 iter() & next()
- Maak de iterator iter_fl_sp van fl_sp
- print de 5 lists in de iterator door het toepassen van de next() functie.
- Wat gebeurt er als je next() meer dan 5 keer uitvoert?
---
- Create the iterator iter_fl_sp from fl_sp
- print the 5 lists in the iterator by applying the next() function.
- What happens if you run next() more than 5 times?

In [3]:
iter_fl_sp = fl_sp
it = iter(iter_fl_sp)
next(it) # ['swinton', 18526]
next(it) # ['stamford', 18569]
next(it) # ['skipton', 12288]
next(it) # ['stratton', 17092]
next(it) # ['shepperton', 11307]

# if you run next() more than 5 times the iteration stops 
# and you get an error because there is nothing to iterate.

['shepperton', 11307]

## 13.3 sum() & range()
- Print de de som van de getallen 3 tot en met 7 waarbij je de sum() en range() functie toepast.
Hint: Je hebt hiervoor maar 1 regel code nodig en het resultaat is 25.
---
- Print the sum of the numbers 3 to 7 using the sum() and range() function.
Hint: You only need 1 line of code for this and the result is 25.

In [4]:
print(sum(range(3,8)))

25

- Maakt de range() function een normale list?
- Wat voor object wordt aangemaakt door de range() functie?
- Wat is het voordeel hiervan?
---
- Does the range() function create a normal list?
- What kind of object is created by the range() function?
- What is the benefit of this?

In [5]:
r = range(3,8)
print(type(r))
print(sum(r))

<class 'range'>
25

## 13.4 Geindexeerde lists
- Gebruik town om de list town_ind te maken met daarin 5 tuples met een indexnummer en de plaatsnaam. De index start bij 10.
- Loop over loop over town_ind om de index nummers en de plaatsnamen te printen.
---
- Use town to create the list town_ind containing 5 tuples with an index number and the city name. The index starts at 10.
- Loop over loop over town_ind to print index numbers and town names.

In [6]:
town = ['swinton', 'stamford', 'skipton', 'stratton', 'shepperton']
town_ind = enumerate(town, start=10)

for index, value in town_ind:
    print(index, value)

10 swinton
11 stamford
12 skipton
13 stratton
14 shepperton

## 13.5 Zip
- Print een gezipte list fl_sp die bestaat uit tuples met daarin de plaatsnamen uit town en de winkeloppervlaktes uit floor.
---
- Print a zipped list fl_sp consisting of tuples containing the place names from town and the retail areas from floor.

In [7]:
town = ['swinton', 'stamford', 'skipton', 'stratton', 'shepperton']
floor = [18526, 18569 , 12288 , 17092, 11307]

fl_sp = list(zip(town, floor))
fl_sp

[('swinton', 18526),
 ('stamford', 18569),
 ('skipton', 12288),
 ('stratton', 17092),
 ('shepperton', 11307)]

## 13.6 loop & zip
- Gebruik een for loop om over fl_sp om het volgende af te drukken:
    - de oppervlakte van de winkel in {town} is {floor}.
---
- Use a for loop to over fl_sp to print:
     - the area of the store in {town} is {floor}.

In [8]:
fl_sp = list(zip(town,floor))

for value1, value2 in fl_sp:
    print(f'The area of the {value1} is {value2}')

The area of the swinton is 18526
The area of the stamford is 18569
The area of the skipton is 12288
The area of the stratton is 17092
The area of the shepperton is 11307

- Waarom is het beter om niet eerst een list aan te maken?
- Pas de for loop van hierboven aan waarbij je geen list gebruikt.
---
- Why is it better not to create a list first?
- Modify the for loop from above where you don't use a list.

In [9]:
fl_sp_zip = zip(town,floor)
for value1, value2 in fl_sp_zip:
    print(f'The area of the {value1} is {value2}')

The area of the swinton is 18526
The area of the stamford is 18569
The area of the skipton is 12288
The area of the stratton is 17092
The area of the shepperton is 11307

- Print de tuples in fl_sp met het * symbool (unpack).
---
- Print the tuples in fl_sp with the * symbol (unpack).

In [10]:
print(*fl_sp)

('swinton', 18526) ('stamford', 18569) ('skipton', 12288) ('stratton', 17092) ('shepperton', 11307)

## 13.7 Unzipping
- Pak sw uit in twee variabelen: r1 en r2.
- Print r1 en r2
---
- Unpack sw into two variables: r1 and r2.
- Print r1 and r2

In [11]:
sw = ('swinton', 18526)
r1, r2 = sw
print(r1, r2)

swinton 18526

- Gebruik zip() en het * symbool om fl_sp uit te pakken in results1 en results2. Result 1 bevat de plaatsnamen en result 2 bevat de oppervlaktes.
- Wat is het verschil tussen town en result 1?
---
- Use zip() and the * symbol to extract fl_sp in results1 and results2. Result 1 contains the place names and result 2 contains the areas.
- What is the difference between town and result 1?

In [16]:
results = zip(*fl_sp)
print(results,'\n')
results_list = list(zip(*fl_sp))
print(results_list,'\n')
result1, result2 = results
print(result1,'\n')
print(result2,'\n')
print(result1==town,'\n')
print(result2==floor,'\n')
print(list(result1)==town)

# town is a list and result1 is a tuple

<zip object at 0x7f9bda1c84c0>

[('swinton', 'stamford', 'skipton', 'stratton', 'shepperton'), (18526, 18569, 12288, 17092, 11307)]

('swinton', 'stamford', 'skipton', 'stratton', 'shepperton')

(18526, 18569, 12288, 17092, 11307)

False

False

True

## 13.8 Chunking
In de volgende cel vind je een functie met 2 parameters:
- Met de csv parameter kun je een csv bestand selecteren.
- Met de name parameter kun je de kolomnaam selecteren.

De functie telt het aantal unieke waardes in de geselecteerde kolom.

---
In the next cell you will find a function with 2 parameters:
- With the csv parameter you can select a csv file.
- With the name parameter you can select the column name.

The function counts the number of unique values in the selected column.

In [17]:
import pandas as pd
def check(csv,name) :
    df = pd.read_csv(csv,encoding = "ISO-8859-1")
    count_values = {}
    for value in df[name]:
        if value in count_values.keys() :
            count_values[value] = count_values[value] + 1
        else:
            count_values[value] = 1
    return count_values
column_values = check('storedata.csv','Staff')
print(column_values)

{9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}

- Kopieer de inhoud van bovenstaande cel naar onderstaande cel.
- Verander de functie zodanig dat je de chunksize als parameter kunt kiezen.
- Print het resultaat van de 'Staff' column als je het 'storedata.csv' bestand gebruikt. Pas chunksize=10 toe.
---
- Copy the contents of the cell above to the cell below.
- Change the function so that you can choose chunksize as parameter.
- Print the result of the 'Staff' column if you use the 'storedata.csv' file. Apply chunksize=10.

In [18]:
import pandas as pd
def check(csv,name,c_size) :
    col = pd.read_csv(csv, chunksize=c_size, encoding = "ISO-8859-1")
    count_values = {}
    for chunk in col:
        for value in chunk[name]:
            if value in count_values.keys() :
                count_values[value] = count_values[value] + 1
            else:
                count_values[value] = 1
    return count_values
column_values = check('storedata.csv','Staff', 10)
print(column_values)

{9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}