# Loops

- Voer onderstaande cel uit om een dataframe, lists en numpy arrays aan te maken voor de oefeningen erna.

In [1]:
#Execute the cell below to create a dataframe, lists and numpy arrays for the exercises that follow.
#Creating lists from columns in dataframe
import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata_clean.csv',sep=";")
storedata.rename(columns={'Profit': 'Turnover'}, inplace=True)

#Creating lists from dataframe
turnover = storedata['Turnover'].values.tolist()
staff = storedata['Staff'].values.tolist()
floor = storedata['Floor Space'].values.tolist()
comp_sc = storedata['Competition score'].values.tolist()
comp_no = storedata['Competition number'].values.tolist()
min30 = storedata['30 min population'].values.tolist()

# creating numpy arrays
np_to = np.array(turnover)
np_floor = np.array(floor)
np_comp_sc = np.array(comp_sc)
np_comp_no = np.array(comp_no)

## 1 Loops & Lists
### 1.1 For loops & lists

- Maak een for loop die itereert over de elementen in de floor list. In deze loop vindt het volgende plaats:
     - de elementen (oppervlaktes) worden opgeteld en toegewezen aan de variabele total_floor.
     - Als de loop klaar is dan bevat total_floor de totale oppervlakte van alle winkels tezamen.
- Bepaal het aantal elementen in floor met behulp van een functie.
- Print de totale oppervlakte, het aantal winkels en de gemiddelde oppervlakte.

In [2]:
# 1.1 For loops & lists
# Create a for loop that iterates over the elements in the floor list. 
# In this loop, the following occurs:
# the elements (areas) are added up and assigned to the variable total_floor.
# When the loop is finished, total_floor contains the total area of all stores together.
# Determine the number of elements in floor using a function.
# Print the total area, the number of shops and the average area.

total_floor = 0
#start coding here:

for item in floor:
    total_floor = total_floor + item # total_floor += item

print(total_floor)
print(len(floor)) #length floors
print(total_floor / len(floor))  #average area

2043277
136
15024.095588235294

### 1.2 Geindexeerde for loops
- Print de gemiddelde oppervlakte nogmaals, maa nu de functie enumerate() om een geindexeerde for loop te maken. Aan het einde van de loop bevat de index variabele het aantal elementen in de lijst.
- Gebruik onder andere deze variabele om de gemiddelde oppervlakte te berekenen.

In [3]:
# 1.2 Indexed for loops
# Print the average area again, this time use the enumerate() function to 
# create an indexed for loop. At the end of the loop, the index variable 
# contains the number of elements in the list.
# Use this variable, among other things, to calculate the average area.

total_floor = 0
for index, item in enumerate(floor, start = 1):
        #index = index + 1
        total_floor = total_floor + item
print(total_floor)
print(len(floor))
#print(total_floor / len(floor))
print(total_floor / index)

2043277
136
15024.095588235294

### 1.3 loopen over lists binnen lists.
- Maak een for loop die over de sublists in fl_sp itereert. 
- Bij iedere iteratie wordt het volgende geprint: "x has a floor space of y sqm". Hierbij is x de plaatsnaam en y de oppervlakte.

In [4]:
# 1.3 looping over lists within lists.
# Create a for loop that iterates over the sublists in fl_sp.
# With each iteration the following is printed: "x has a floor space of y sqm". 
# Where x is the place name and y is the area.

fl_sp = [['swinton', 18526], ['stamford', 18569], ['skipton', 12288], ['stratton', 17092], ['shepperton', 11307]]
#Start coding here

for item, area in fl_sp:
    print(str(item.capitalize()) + " has a floor space of " + str(area) + "sqm" +"\n")
    #print(str(item[0]) + " has a floor space of " + str(item[1])+ "sqm" +"\n")

Swinton has a floor space of 18526sqm

Stamford has a floor space of 18569sqm

Skipton has a floor space of 12288sqm

Stratton has a floor space of 17092sqm

Shepperton has a floor space of 11307sqm

## 2 Loops & dictionaries
- Voer onderstaande cel uit om de st_to dictionary aan te maken.
- Hierin vind je de omzet per winkel.

In [5]:
# 2 Loops & dictionaries
# Execute the cell below to create the st_to dictionary.
# Here you will find the turnover per store.

#Creating dictionary from columns in dataframe
store_id = storedata['Store ID'].values.tolist()
turnover = storedata['Turnover'].values.tolist()
floor = storedata['Floor Space'].values.tolist()

st_to = dict(zip(store_id, turnover))
display(st_to)

{1437: 3410865,
 1544: 4034051,
 2039: 2297810,
 2055: 2398990,
 2141: 2288235,
 2309: 3058134,
 3800: 2793160,
 4214: 3345936,
 4857: 3117205,
 4860: 3153278,
 7491: 3056804,
 7566: 1801619,
 8207: 3797953,
 9171: 3138911,
 11440: 2724068,
 13132: 2382751,
 13984: 3321899,
 14359: 2803867,
 14421: 3640627,
 14984: 3075352,
 15125: 3491993,
 16727: 3252148,
 16741: 3041618,
 18554: 3737466,
 19296: 4217291,
 20304: 2008363,
 20971: 3516397,
 21359: 3957233,
 23025: 2942839,
 23231: 2242288,
 23249: 2616387,
 23705: 2493975,
 24174: 2203994,
 24618: 2458785,
 24737: 4253984,
 26307: 4185306,
 29319: 4160531,
 32610: 3100521,
 34686: 3246954,
 35207: 2085733,
 35944: 3741911,
 36979: 2506748,
 37708: 2393869,
 37916: 4137224,
 40352: 3572475,
 40676: 3121837,
 41475: 2799074,
 42172: 2707402,
 42797: 4176642,
 42943: 1829621,
 43044: 2681110,
 43066: 2411437,
 44476: 4300537,
 44722: 3758014,
 45223: 2234201,
 45547: 2342229,
 45577: 2104028,
 46116: 2406120,
 47290: 2839607,
 48341: 2831103,
 50703: 3032277,
 51992: 3625088,
 52414: 2196757,
 54193: 3336417,
 55138: 2779994,
 55717: 3175101,
 55895: 4587304,
 55967: 3029751,
 56056: 1512452,
 56595: 3418735,
 56930: 2526616,
 57418: 2333940,
 58249: 3197934,
 58882: 3135133,
 59280: 3822904,
 59431: 2538362,
 59517: 1855427,
 59653: 2260838,
 59794: 3524409,
 60116: 3709026,
 61950: 3337861,
 62022: 2407898,
 62586: 3260276,
 63017: 1792809,
 64781: 2804353,
 65437: 2869330,
 65659: 2422936,
 66482: 4237135,
 66844: 3007050,
 67041: 4018966,
 67403: 2553461,
 67717: 3817558,
 67825: 2405770,
 67831: 1764019,
 68816: 4793593,
 69540: 2896362,
 73474: 3192066,
 74421: 3092180,
 74620: 2419983,
 74958: 2701564,
 76653: 3606536,
 76773: 3304795,
 77163: 3663843,
 77644: 3965957,
 78305: 2651301,
 78368: 3487542,
 78904: 2004312,
 79413: 3102538,
 81258: 2291029,
 82709: 3895318,
 82754: 3741407,
 83250: 2604575,
 83312: 1648919,
 83479: 1665527,
 83480: 3654694,
 84225: 3598894,
 85185: 2172265,
 85476: 2397407,
 87212: 2329927,
 87510: 3444876,
 88442: 2564358,
 88942: 2534145,
 90621: 2956061,
 90995: 2467943,
 91085: 3891535,
 92341: 3498966,
 92768: 2872001,
 93212: 3501093,
 93991: 3774401,
 95915: 3584813,
 96852: 2561019,
 96853: 2581954,
 96858: 2589339,
 98062: 2583755,
 98923: 950924,
 99854: 3485295}

### 2.1  Loopen over een dictionary
- Maak een for loop die over de items in st_to itereert waarbij alle omzetten bij elkaar worden opgeteld en toegewezen aan de variabele total_to.
- Tel tijdens iedere iteratie 1 op bij de variabele number.
- Print de totale omzet, het aantal winkels en de gemiddelde omzet. De gemiddelde omzet wordt afgedrukt als een integer.

In [6]:
# 2.1 Looping over a dictionary
# Create a for loop that iterates over the items in st_to adding up all sales and 
# assigning them to the total_to variable.
# Add 1 to the variable number during each iteration.
# Print total sales, number of stores and average sales. 
# Average sales are printed as an integer.

total_to = 0
number = 0
#start coding here

for key, value in st_to.items():
    total_to = total_to + value
    number = number + 1
    
print(total_to)
print(number)
print(total_to / number)

406773409
136
2990980.9485294116

## 3 Loops & numpy arrays
- Aan het begin van dit bestand is de Numpy array np_floor aangemaakt.

### 3.1 Loopen over een numpy array
- Maak een for loop die itereert over de elementen np_floor. In deze loop vindt het volgende plaats:
     - de elementen (oppervlaktes) worden opgeteld en toegewezen aan de variabele np_total_floor.
     - Als de loop klaar is dan bevat np_total_floor de totale oppervlakte van alle winkels tezamen.
     - Tel tijdens iedere iteratie 1 op bij de variabele number.
- Bereken de gemiddelde oppervlakte met de variabelen np_total_floor en number. Wijs het resultaat toe aan de variabele avg.
- Bereken de gemiddelde oppervlakte met een numpy functie. Wijs dit resultaat toe aan avg_alt.
- Welke wijze van gemiddelde berekeken verdient de voorkeur? Waarom?

In [7]:
# Loops & numpy arrays
# At the beginning of this file, the Numpy array np_floor has been created.

# 3.1 Looping over a numpy array
# Create a for loop that iterates over the np_floor elements. In this loop, the following occurs:
# the elements (areas) are added up and assigned to the np_total_floor variable.
# When the loop is finished, np_total_floor contains the total area of all stores together.
# Add 1 to the variable number during each iteration.
# Calculate the average area with the variables np_total_floor and number. 
# Assign the result to the variable avg.
# Calculate the average area with a numpy function. Assign this result to avg_alt.
# Which method of average calculation is preferable? Why?

# np_total_floor = 0
# number = 0

# for val in np_floor:
#     np_total_floor += val
#     number = number + 1
# avg = np_total_floor / number # slower method
# avg_alt = np_floor.mean() # faster method
# print(avg, total_floor, avg_alt)

np_total_floor = 0
number = 0
for item in np_floor :
    np_total_floor += item
    number += 1
avg = np_total_floor / number
print(avg)  
avg_alt = np.mean(np_floor)
print(avg_alt)

15024.095588235294
15024.095588235294

## 4 Loops & Dataframes
### 4.1 loopen over een Pandas dataframe
- Maak een for loop die itereert over de elementen van storedata en de oppervlaktes optelt en toewijs aan de variabele pd_total_floor. 
- Tel tijdens iedere iteratie 1 op bij de variabele number.
- Gebruik pd_total_floor en number om het gemiddelde uit te rekenen en toe te wijzen aan de variable avg.
- Print avg.

In [8]:
# 4 Loops & Data Frames
# 4.1 Looping over a Pandas dataframe
# Create a for loop that iterates over the elements of storedata and adds up the areas 
#and assigns them to the variable pd_total_floor.
# Add 1 to the variable number during each iteration.
# Use pd_total_floor and number to calculate the average and assign it to the variable avg.
# print avg.

# total_floor = 0
# number = 0

# for lab, row in storedata.iterrows() :
#     total_floor += row['Floor Space']
#     number += 1
# avg_alt = total_floor.mean()
# print(avg)
pd_total_floor = 0
number = 0
for lab, row in storedata.iterrows() :
    pd_total_floor += row['Floor Space']
    number += 1
avg = pd_total_floor / number
print(avg)

15024.095588235294

## 5 Integratie
### 5.1 control flow en loops
- Gebruik een for loop om de nieuwe kolom 'Turnover Floor' aan te maken in het storedata dataframe. Toon in deze kolom de omzet (Turnover) per vierkante meter (Floor Space).
- Pas control flow (if, else en/of elif) toe in de loop om de kolom 'Performance' aan te maken:
    - Als de omzet per vierkante meter hoger is dan 210 dan is de performance 'Very Good'.
    - Als de omzet per vierkante meter hoger is dan 200 dan is de performance 'Good'.
    - In alle andere gevallen is de performance 'Poor'.
- Toon de nieuwe kolommen.

In [9]:
# 5 Integration
# 5.1 control flow and loops
# Use a for loop to create the new column 'Turnover Floor' in the storedata dataframe. 
# Show the turnover (Turnover) per square meter (Floor Space) in this column.
# Apply control flow (if, else and/or elif) in the loop to create the 'Performance' column:
# If the turnover per square meter is higher than 210 then the performance is 'Very Good'.
# If the turnover per square meter is higher than 200 then the performance is 'Good'.
# In all other cases the performance is 'Poor'.
# Show the new columns.

# print(storedata.loc[0:"Staff"])
# display(storedata)
for index, row in storedata.iterrows():
    to_fl =row["Turnover"] / row["Floor Space"]
    storedata.loc[index, "Turnover Floor"] = to_fl
    if to_fl > 210:
        storedata.loc[index, "Performance"] = "Very Good"
    elif to_fl > 200:
        storedata.loc[index, "Performance"] = "Very"
    else:
        storedata.loc[index, "Performance"] = "Poor"



storedata[['Turnover Floor','Performance']]

     Turnover Floor Performance
0        184.112329        Poor
1        217.246540   Very Good
2        186.996257        Poor
3        140.357477        Poor
4        202.373309        Very
..              ...         ...
131      182.857932        Poor
132      231.087818   Very Good
133      159.589561        Poor
134       61.286672        Poor
135      240.896807   Very Good

[136 rows x 2 columns]

### 5.2 Nieuwe kolom zonder for loop
- Maak een nieuwe kolom 'Turnover Staff' ZONDER een for loop waarin de omzet per medewerker (Staff) staat.

In [10]:
# 5.2 New column without for loop
# Create a new column 'Turnover Staff' WITHOUT a for loop containing 
# the turnover per employee (Staff).
storedata['Turnover Staff'] = (storedata['Turnover']/ storedata['Staff']).astype('int')
storedata[['Turnover Staff']]

     Turnover Staff
0            378985
1            504256
2           1148905
3            342712
4            326890
..              ...
131          368850
132          431556
133          369107
134          158487
135          387255

[136 rows x 1 columns]

### 5.3 Dictionary maken met for loop
- Maak met een for-loop de dictionary st_num aan waarin je laat zien hoeveel winkels er zijn per aantal medewerkers ('Staff'). Er zijn bijvoorbeeld 28 winkels met 9 medewerkers. De dictionary dient er als volgt uit te zien: {9: 28, 8: 18, 2: 1, 7: 29, 5: 29, 6: 30, 3: 1}

In [11]:
# 5.3 Creating a dictionary with for loop
# Use a for-loop to create the dictionary st_num in which you show how many shops there 
# are per number of employees ('Staff'). For example, there are 28 stores with 9 employees. 
# The dictionary should look like this: {9: 28, 8: 18, 2: 1, 7: 29, 5: 29, 6: 30, 3: 1}
# st_num = {}
# for num in storedata['Staff']:
#     if num not in st_num:
#         st_num[num] = 1

#st_num

In [12]:
staff_store = {}
for number in storedata['Staff']:
    staff_store[number] = staff_store.get(number, 0) + 1
    print(staff_store)

staff_store

{9: 1}
{9: 1, 8: 1}
{9: 1, 8: 1, 2: 1}
{9: 1, 8: 1, 2: 1, 7: 1}
{9: 1, 8: 1, 2: 1, 7: 2}
{9: 1, 8: 1, 2: 1, 7: 3}
{9: 1, 8: 2, 2: 1, 7: 3}
{9: 2, 8: 2, 2: 1, 7: 3}
{9: 3, 8: 2, 2: 1, 7: 3}
{9: 3, 8: 2, 2: 1, 7: 4}
{9: 4, 8: 2, 2: 1, 7: 4}
{9: 4, 8: 3, 2: 1, 7: 4}
{9: 4, 8: 4, 2: 1, 7: 4}
{9: 4, 8: 5, 2: 1, 7: 4}
{9: 4, 8: 5, 2: 1, 7: 4, 5: 1}
{9: 4, 8: 5, 2: 1, 7: 4, 5: 1, 6: 1}
{9: 4, 8: 6, 2: 1, 7: 4, 5: 1, 6: 1}
{9: 4, 8: 6, 2: 1, 7: 4, 5: 1, 6: 2}
{9: 5, 8: 6, 2: 1, 7: 4, 5: 1, 6: 2}
{9: 6, 8: 6, 2: 1, 7: 4, 5: 1, 6: 2}
{9: 6, 8: 6, 2: 1, 7: 4, 5: 1, 6: 3}
{9: 6, 8: 6, 2: 1, 7: 5, 5: 1, 6: 3}
{9: 6, 8: 6, 2: 1, 7: 6, 5: 1, 6: 3}
{9: 6, 8: 6, 2: 1, 7: 6, 5: 1, 6: 4}
{9: 7, 8: 6, 2: 1, 7: 6, 5: 1, 6: 4}
{9: 7, 8: 6, 2: 1, 7: 6, 5: 2, 6: 4}
{9: 7, 8: 6, 2: 1, 7: 7, 5: 2, 6: 4}
{9: 7, 8: 6, 2: 1, 7: 7, 5: 2, 6: 5}
{9: 7, 8: 6, 2: 1, 7: 7, 5: 3, 6: 5}
{9: 8, 8: 6, 2: 1, 7: 7, 5: 3, 6: 5}
{9: 8, 8: 6, 2: 1, 7: 7, 5: 3, 6: 6}
{9: 8, 8: 6, 2: 1, 7: 8, 5: 3, 6: 6}
{9: 8, 8: 6, 2: 1, 7: 8, 5: 3, 6: 7}
{9: 8, 8: 7, 2: 1, 7: 8, 5: 3, 6: 7}
{9: 8, 8: 8, 2: 1, 7: 8, 5: 3, 6: 7}
{9: 9, 8: 8, 2: 1, 7: 8, 5: 3, 6: 7}
{9: 10, 8: 8, 2: 1, 7: 8, 5: 3, 6: 7}
{9: 10, 8: 8, 2: 1, 7: 9, 5: 3, 6: 7}
{9: 10, 8: 8, 2: 1, 7: 9, 5: 3, 6: 8}
{9: 10, 8: 8, 2: 1, 7: 9, 5: 4, 6: 8}
{9: 11, 8: 8, 2: 1, 7: 9, 5: 4, 6: 8}
{9: 12, 8: 8, 2: 1, 7: 9, 5: 4, 6: 8}
{9: 12, 8: 8, 2: 1, 7: 10, 5: 4, 6: 8}
{9: 12, 8: 9, 2: 1, 7: 10, 5: 4, 6: 8}
{9: 13, 8: 9, 2: 1, 7: 10, 5: 4, 6: 8}
{9: 14, 8: 9, 2: 1, 7: 10, 5: 4, 6: 8}
{9: 14, 8: 9, 2: 1, 7: 10, 5: 5, 6: 8}
{9: 14, 8: 9, 2: 1, 7: 10, 5: 6, 6: 8}
{9: 14, 8: 9, 2: 1, 7: 10, 5: 7, 6: 8}
{9: 14, 8: 9, 2: 1, 7: 11, 5: 7, 6: 8}
{9: 15, 8: 9, 2: 1, 7: 11, 5: 7, 6: 8}
{9: 16, 8: 9, 2: 1, 7: 11, 5: 7, 6: 8}
{9: 16, 8: 9, 2: 1, 7: 12, 5: 7, 6: 8}
{9: 16, 8: 9, 2: 1, 7: 12, 5: 7, 6: 8, 3: 1}
{9: 16, 8: 9, 2: 1, 7: 12, 5: 8, 6: 8, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 12, 5: 8, 6: 8, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 13, 5: 8, 6: 8, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 14, 5: 8, 6: 8, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 14, 5: 8, 6: 9, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 15, 5: 8, 6: 9, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 15, 5: 9, 6: 9, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 16, 5: 9, 6: 9, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 16, 5: 10, 6: 9, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 16, 5: 10, 6: 10, 3: 1}
{9: 16, 8: 10, 2: 1, 7: 16, 5: 10, 6: 11, 3: 1}
{9: 16, 8: 11, 2: 1, 7: 16, 5: 10, 6: 11, 3: 1}
{9: 16, 8: 11, 2: 1, 7: 16, 5: 11, 6: 11, 3: 1}
{9: 16, 8: 12, 2: 1, 7: 16, 5: 11, 6: 11, 3: 1}
{9: 16, 8: 12, 2: 1, 7: 16, 5: 11, 6: 12, 3: 1}
{9: 16, 8: 12, 2: 1, 7: 17, 5: 11, 6: 12, 3: 1}
{9: 16, 8: 12, 2: 1, 7: 17, 5: 11, 6: 13, 3: 1}
{9: 16, 8: 12, 2: 1, 7: 17, 5: 12, 6: 13, 3: 1}
{9: 17, 8: 12, 2: 1, 7: 17, 5: 12, 6: 13, 3: 1}
{9: 17, 8: 12, 2: 1, 7: 17, 5: 13, 6: 13, 3: 1}
{9: 18, 8: 12, 2: 1, 7: 17, 5: 13, 6: 13, 3: 1}
{9: 18, 8: 12, 2: 1, 7: 17, 5: 14, 6: 13, 3: 1}
{9: 18, 8: 12, 2: 1, 7: 18, 5: 14, 6: 13, 3: 1}
{9: 18, 8: 12, 2: 1, 7: 18, 5: 15, 6: 13, 3: 1}
{9: 18, 8: 12, 2: 1, 7: 19, 5: 15, 6: 13, 3: 1}
{9: 18, 8: 13, 2: 1, 7: 19, 5: 15, 6: 13, 3: 1}
{9: 18, 8: 14, 2: 1, 7: 19, 5: 15, 6: 13, 3: 1}
{9: 18, 8: 14, 2: 1, 7: 19, 5: 16, 6: 13, 3: 1}
{9: 18, 8: 14, 2: 1, 7: 19, 5: 16, 6: 14, 3: 1}
{9: 18, 8: 14, 2: 1, 7: 19, 5: 17, 6: 14, 3: 1}
{9: 18, 8: 14, 2: 1, 7: 19, 5: 17, 6: 15, 3: 1}
{9: 18, 8: 14, 2: 1, 7: 19, 5: 17, 6: 16, 3: 1}
{9: 18, 8: 14, 2: 1, 7: 19, 5: 18, 6: 16, 3: 1}
{9: 18, 8: 15, 2: 1, 7: 19, 5: 18, 6: 16, 3: 1}
{9: 18, 8: 15, 2: 1, 7: 20, 5: 18, 6: 16, 3: 1}
{9: 19, 8: 15, 2: 1, 7: 20, 5: 18, 6: 16, 3: 1}
{9: 19, 8: 15, 2: 1, 7: 20, 5: 18, 6: 17, 3: 1}
{9: 19, 8: 15, 2: 1, 7: 21, 5: 18, 6: 17, 3: 1}
{9: 19, 8: 16, 2: 1, 7: 21, 5: 18, 6: 17, 3: 1}
{9: 19, 8: 16, 2: 1, 7: 22, 5: 18, 6: 17, 3: 1}
{9: 19, 8: 16, 2: 1, 7: 22, 5: 18, 6: 18, 3: 1}
{9: 20, 8: 16, 2: 1, 7: 22, 5: 18, 6: 18, 3: 1}
{9: 20, 8: 17, 2: 1, 7: 22, 5: 18, 6: 18, 3: 1}
{9: 20, 8: 17, 2: 1, 7: 22, 5: 19, 6: 18, 3: 1}
{9: 20, 8: 17, 2: 1, 7: 22, 5: 20, 6: 18, 3: 1}
{9: 20, 8: 17, 2: 1, 7: 22, 5: 21, 6: 18, 3: 1}
{9: 21, 8: 17, 2: 1, 7: 22, 5: 21, 6: 18, 3: 1}
{9: 21, 8: 18, 2: 1, 7: 22, 5: 21, 6: 18, 3: 1}
{9: 21, 8: 18, 2: 1, 7: 22, 5: 21, 6: 19, 3: 1}
{9: 21, 8: 18, 2: 1, 7: 22, 5: 21, 6: 20, 3: 1}
{9: 21, 8: 18, 2: 1, 7: 22, 5: 21, 6: 21, 3: 1}
{9: 21, 8: 18, 2: 1, 7: 22, 5: 22, 6: 21, 3: 1}
{9: 21, 8: 18, 2: 1, 7: 23, 5: 22, 6: 21, 3: 1}
{9: 22, 8: 18, 2: 1, 7: 23, 5: 22, 6: 21, 3: 1}
{9: 22, 8: 18, 2: 1, 7: 24, 5: 22, 6: 21, 3: 1}
{9: 22, 8: 18, 2: 1, 7: 24, 5: 22, 6: 22, 3: 1}
{9: 23, 8: 18, 2: 1, 7: 24, 5: 22, 6: 22, 3: 1}
{9: 23, 8: 18, 2: 1, 7: 24, 5: 23, 6: 22, 3: 1}
{9: 23, 8: 18, 2: 1, 7: 24, 5: 24, 6: 22, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 24, 5: 24, 6: 22, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 25, 5: 24, 6: 22, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 25, 5: 25, 6: 22, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 25, 5: 25, 6: 23, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 25, 5: 26, 6: 23, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 25, 5: 26, 6: 24, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 25, 5: 26, 6: 25, 3: 1}
{9: 24, 8: 18, 2: 1, 7: 25, 5: 27, 6: 25, 3: 1}
{9: 25, 8: 18, 2: 1, 7: 25, 5: 27, 6: 25, 3: 1}
{9: 25, 8: 18, 2: 1, 7: 25, 5: 27, 6: 26, 3: 1}
{9: 25, 8: 18, 2: 1, 7: 25, 5: 28, 6: 26, 3: 1}
{9: 25, 8: 18, 2: 1, 7: 25, 5: 28, 6: 27, 3: 1}
{9: 25, 8: 18, 2: 1, 7: 26, 5: 28, 6: 27, 3: 1}
{9: 25, 8: 18, 2: 1, 7: 27, 5: 28, 6: 27, 3: 1}
{9: 25, 8: 18, 2: 1, 7: 27, 5: 28, 6: 28, 3: 1}
{9: 26, 8: 18, 2: 1, 7: 27, 5: 28, 6: 28, 3: 1}
{9: 27, 8: 18, 2: 1, 7: 27, 5: 28, 6: 28, 3: 1}
{9: 27, 8: 18, 2: 1, 7: 27, 5: 29, 6: 28, 3: 1}
{9: 27, 8: 18, 2: 1, 7: 28, 5: 29, 6: 28, 3: 1}
{9: 27, 8: 18, 2: 1, 7: 28, 5: 29, 6: 29, 3: 1}
{9: 27, 8: 18, 2: 1, 7: 29, 5: 29, 6: 29, 3: 1}
{9: 27, 8: 18, 2: 1, 7: 29, 5: 29, 6: 30, 3: 1}
{9: 28, 8: 18, 2: 1, 7: 29, 5: 29, 6: 30, 3: 1}

{9: 28, 8: 18, 2: 1, 7: 29, 5: 29, 6: 30, 3: 1}

In [13]:
st = storedata['Staff']

st_num = {}
for value in st:
    if value in st_num:
        st_num[value] += 1
    else:
        st_num[value] = 1
st_num

{9: 28, 8: 18, 2: 1, 7: 29, 5: 29, 6: 30, 3: 1}