# Data Science Toolbox (Part 1): 1

## 10.1 geen parameters
- Definieer een functie zonder parameters die het resultaat van 10 maal 10 'returned'
- Print de uitkomst van de functie.

In [1]:
# No parameters
# Define a function with no parameters that returns the result of 10 times 10
# Print the result of the function

def mult_10_10():
    """Returns the result of 10 times 10."""
    
    result = 10 * 10
    
    return result

print(mult_10_10())

100

## 10.2 EÃ©n parameter
- Definieer een functie die het resultaat van 10 maal een parameter 'returned'
- Print de uitkomst van de functie.

In [2]:
# One parameter
# Define a function that returns the result of 10 times a parameter
# Print the result of the function.

def mult_10(value):
    """Returns the result of 10 times a value."""

    result = value * 10
    
    return result

print(mult_10(10 + 7))

170

## 10.3 meerdere parameters
- Definieer een functie die het resultaat van een parameter maal een andere parameter 'returned'
- Print de uitkomst van de functie.

In [3]:
# Multiple parameters
# Define a function that returns the result of one parameter times another parameter
# Print the result of the function.

def mult(val1, val2):
    """Returns the result of one parameter times another parameter."""

    new_val = val1 * val2
    
    return new_val

result = mult(7,7)

print(result)

49

## 10.3 meerdere parameters & "returning" meerdere waardes

- Definieer een functie met twee parameters die twee resultaten returned in een tuple:

    1. Een parameter vermenigvuldigd met de andere parameter  
    2. De som van beide parameters  


- Print de uitkomst van de functie. Kies willekeurige waardes voor iedere parameter.

In [4]:
# Multiple parameters & "returning" multiple values
# Define a function with two parameters that returns two results in a tuple:
# A parameter multiplied by the other parameter
# The sum of both parameters
# Print the result of the function. Choose arbitrary values for each parameter.

def mult_sum(val1, val2):
    """Two parameters that returns the mult and sum results in a tuple."""

    return val1 * val2, val1 + val2

result = mult_sum(7,7)

print(result)

(49, 14)

## 10.4 Tuples

De functie uit de vorige opgave 'returns' waardes in een tuple.

- Pak de tuple uit in 2 verschillende variabelen.
- Print beide variabelen.

In [5]:
# The function from the previous exercise 'returns' values in a tuple.
# Unpack the tuple into 2 different variables.
# Print both variables.

mult_val, sum_val = result
print(mult_val, sum_val)

49 14

### 10.5 Inspecteren van data
- Voer de onderstaande cel uit om de "uncleaned" gegevens over winkelverkopen te importeren in het dataframe storedata.
- De omzet van de winkel staat in de "Turnover" kolom

In [7]:
# Inspecting Data
# Run the cell below to import the "uncleaned" store sales data into the storedata 
# data frame. The store's turnover is listed in the "Turnover" column.
#Importing uncleaned storedata into storedata

import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata.csv', encoding = "ISO-8859-1",sep=",",index_col=2)
storedata.rename(columns={'Profit': 'Turnover'}, inplace=True)
storedata.head()

,Town,Country,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance
Store ID,,,,,,,,,,,,,,,,,,,
1437,Swinton (Greater Manchester),UK,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1544,Stamford,UK,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
2039,Skipton,UK,Valentina,-2,12288,105,No,12,Retail Park,1595638,1281661,1104490,1011395,11,219,13,18,2297810,Poor
2055,Stratton,UK,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
2141,Shepperton,UK,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor

- Maak met behulp van een 'for loop' een dictionary die het aantal unieke waardes telt in de 'Staff' (= aantal medewerkers) kolom.

Het verwachte resultaat is: {9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}.  
Uit deze dictionary kun je aflezen dat er 28 winkels zijn die 9 medewerkers hebben.

In [37]:
# Use a 'for loop' to create a dictionary that counts the number of unique values 
# in the 'Staff' (= number of employees) column.
# The expected result is: {9:28, 8:18, -2:1, 7:29, 5:29, 6:29, 300:1, 600:1}.
# From this dictionary you can read that there are 28 stores that have 9 employees.

col = storedata['Staff']
count_values = {}

for value in col:
    if value in count_values:
        count_values[value] = count_values[value] + 1
    else:
        count_values[value] = 1
        print(count_values)    
        
print(count_values)

{9: 1}
{9: 1, 8: 1}
{9: 1, 8: 1, -2: 1}
{9: 1, 8: 1, -2: 1, 7: 1}
{9: 4, 8: 5, -2: 1, 7: 4, 5: 1}
{9: 4, 8: 5, -2: 1, 7: 4, 5: 1, 6: 1}
{9: 16, 8: 9, -2: 1, 7: 12, 5: 7, 6: 8, 300: 1}
{9: 22, 8: 18, -2: 1, 7: 24, 5: 22, 6: 21, 300: 1, 600: 1}
{9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}

- Definieer een functie waarmee je bovenstaande dictionary kunt maken voor alle kolommen in een dataframe.
- Pas de functie toe op de "Staff" kolom en de "Car park" kolom om te testen of je functie goed werkt.
- Welke problemen / vreemde waardes zie je in deze kolommen?

In [44]:
# Define a function that allows you to create the above dictionary for all columns 
# in a dataframe.
# Apply the function to the "Staff" column and the "Car park" column to test if your 
# function works correctly.
# What problems / strange values do you see in these columns?

def check(df, name) :
    col = df[name]
    count_values = {}
    for value in col:
        if value in count_values:
            count_values[value] = count_values[value] + 1
        else:
            count_values[value] = 1
    return count_values
column_values = check(storedata,'Staff')
print(column_values)
print(check(storedata, 'Car park'))

# Staff: negatieve waarde, 300 en 600 zijn veel hoger dan de andere waardes
# Car Park: soms 'Yes' en dan weer 'Y', dit betekent vermoedelijk hetzelfde.

{9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}
{'Yes': 94, 'No': 35, 'Y': 4, 'N': 3}

## 10.6 Corrigeren van de data
In een eerdere les heb je geleerd hoe je kunt 'loopen' over een dataframe.

- Maak gebruik van een loop om de waardes in de 'Staff' kolom aan te passen:
    - Alle negatieve waardes worden positief gemaakt
    - Alle getallen die groter dan of gelijk aan 100 zijn worden gedeeld door 100
- Voer je functie nogmaals uit om te controleren of de kolom juist is aangepast.

- Maak gebruik van een loop om de waardes in de 'Car park' kolom aan te passen:
    - 'Y' wordt 'Yes'
    - 'N' wordt 'No'
- Voer je functie nogmaals uit om te controleren of de kolom juist is aangepast.

In [47]:
# Correcting the data
# In an earlier lesson you learned how to loop over a data frame.
# Use a loop to adjust the values in the 'Staff' column:
# All negative values are made positive
# All numbers greater than or equal to 100 are divided by 100
# Run your function again to verify that the column is properly adjusted.

staff = storedata['Staff']
new = []
for v in staff:
    if v < 0:
        v = abs(v) # transforms -2 in + 2 +++++++ it can be done also: v = v * -1
    if v > 100:
        v = v / 100
    new.append(v)

storedata['Staff'] = new
column_values = check(storedata, 'Staff')
print(column_values)

{9.0: 28, 8.0: 18, 2.0: 1, 7.0: 29, 5.0: 29, 6.0: 30, 3.0: 1}

In [57]:
new = []
for v in storedata['Staff']:
    if v < 0:
        v = v + -1
    new.append(v)
new

# new_1 = [abs(v) for v in storedata['Staff']] 
# the same as above but shorter!!!!!!
# new_1

[9.0,
 8.0,
 2.0,
 7.0,
 7.0,
 7.0,
 8.0,
 9.0,
 9.0,
 7.0,
 9.0,
 8.0,
 8.0,
 8.0,
 5.0,
 6.0,
 8.0,
 6.0,
 9.0,
 9.0,
 6.0,
 7.0,
 7.0,
 6.0,
 9.0,
 5.0,
 7.0,
 6.0,
 5.0,
 9.0,
 6.0,
 7.0,
 6.0,
 8.0,
 8.0,
 9.0,
 9.0,
 7.0,
 6.0,
 5.0,
 9.0,
 9.0,
 7.0,
 8.0,
 9.0,
 9.0,
 5.0,
 5.0,
 5.0,
 7.0,
 9.0,
 9.0,
 7.0,
 3.0,
 5.0,
 8.0,
 7.0,
 7.0,
 6.0,
 7.0,
 5.0,
 7.0,
 5.0,
 6.0,
 6.0,
 8.0,
 5.0,
 8.0,
 6.0,
 7.0,
 6.0,
 5.0,
 9.0,
 5.0,
 9.0,
 5.0,
 7.0,
 5.0,
 7.0,
 8.0,
 8.0,
 5.0,
 6.0,
 5.0,
 6.0,
 6.0,
 5.0,
 8.0,
 7.0,
 9.0,
 6.0,
 7.0,
 8.0,
 7.0,
 6.0,
 9.0,
 8.0,
 5.0,
 5.0,
 5.0,
 9.0,
 8.0,
 6.0,
 6.0,
 6.0,
 5.0,
 7.0,
 9.0,
 7.0,
 6.0,
 9.0,
 5.0,
 5.0,
 9.0,
 7.0,
 5.0,
 6.0,
 5.0,
 6.0,
 6.0,
 5.0,
 9.0,
 6.0,
 5.0,
 6.0,
 7.0,
 7.0,
 6.0,
 9.0,
 9.0,
 5.0,
 7.0,
 6.0,
 7.0,
 6.0,
 9.0]

In [20]:
# Use a loop to adjust the values in the 'Car park' column:
# 'Y' becomes 'Yes'
# 'N' becomes 'No'
# Run your function again to verify that the column is properly adjusted.

cp = storedata['Car park']
new = []

for v in cp:
    if v == 'Y' :
        v = 'Yes'
    if v == 'N' :
        v = 'No'
    new.append(v)
storedata['Car park'] = new
column_values = check(storedata,'Car park')
print(column_values)

{'Yes': 98, 'No': 38}